In [114]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder , OneHotEncoder
import pickle

In [115]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [116]:
data = data.drop(["RowNumber","CustomerId","Surname"],axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [117]:
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [118]:
onehot = OneHotEncoder()
geo_encoder = onehot.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 999 stored elements and shape (999, 3)>

In [119]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.]], shape=(999, 3))

In [120]:
onehot.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [121]:
geo_encoded_df = pd.DataFrame(
    geo_encoder.toarray(), 
    columns=onehot.get_feature_names_out(['Geography'])
)

geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [122]:
##combine the column
data = pd.concat([data.drop('Geography' ,axis=1) , geo_encoded_df] , axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [123]:
#save the encoder
with open('label_encoder.pkl','wb') as file:
    pickle.dump(label_encoder,file)

with open('onehot.pkl','wb') as file:
    pickle.dump(onehot,file)

In [124]:
x = data.drop('Exited' , axis=1)
y = data['Exited']

In [125]:
x.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 12 columns]

In [126]:
x_train , x_test ,y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [127]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [128]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [129]:
x

     CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0            619       0  ...                0.0              0.0
1            608       0  ...                0.0              1.0
2            502       0  ...                0.0              0.0
3            699       0  ...                0.0              0.0
4            850       0  ...                0.0              1.0
..           ...     ...  ...                ...              ...
994          838       1  ...                0.0              1.0
995          610       1  ...                0.0              1.0
996          811       1  ...                0.0              1.0
997          587       1  ...                0.0              1.0
998          811       0  ...                1.0              0.0

[999 rows x 12 columns]

ANN Implementation

In [130]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime

In [131]:

x_train.shape

(799, 12)

In [132]:
## Build our ANN model 
model = Sequential([
    Dense(64 , activation='relu' , input_shape = (x_train.shape[1],)) , ## hl1 conntect with ip
    Dense(32 , activation= 'relu') , 
    Dense(1 , activation='sigmoid') ##output layer
])

c:\Users\aryan\OneDrive\Desktop\ann classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [133]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [134]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()
loss

In [135]:
model.compile(optimizer=opt , loss="binary_crossentropy",metrics=['accuracy'])

In [142]:
## setup the TensorBorad
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime
import datetime

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y-%m-%d_%H-%M-%S")

tensorflow_callback = TensorBoard(log_dir = log_dir , histogram_freq=1)

In [145]:
early_stopping_callback = EarlyStopping(monitor='val_loss' , patience=10 ,restore_best_weights=True)
#wait for patience time then only model will deicde best param

In [146]:
history = model.fit(
    x_train, 
    y_train,
    validation_data=(x_test, y_test),
    epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100

25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.8861 - loss: 0.2720 - val_accuracy: 0.8600 - val_loss: 0.4014
Epoch 2/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.8861 - loss: 0.2590 - val_accuracy: 0.8650 - val_loss: 0.4112
Epoch 3/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.8974 - loss: 0.2289 - val_accuracy: 0.8300 - val_loss: 0.4099
Epoch 4/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.9086 - loss: 0.2142 - val_accuracy: 0.8650 - val_loss: 0.4104
Epoch 5/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.9186 - loss: 0.1960 - val_accuracy: 0.8350 - val_loss: 0.4152
Epoch 6/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.9186 - loss: 0.1871 - val_accuracy: 0.8550 - val_loss: 0.4342
Epoch 7/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.9161 - loss: 0.1803 - val_accuracy: 0.8750 - val_loss: 0.4638
Epoch 8/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.9186 - loss: 0.1922 - val_accuracy: 0.8550 - val_loss: 0.4386
Epoch 9/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.9161 - loss: 0.1883 - val_accuracy: 0.8450 - val_loss: 0.5146
Epoch 10/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.9349 - loss: 0.1545 - val_accuracy: 0.8450 - val_loss: 0.5152
Epoch 11/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.9324 - loss: 0.1446 - val_accuracy: 0.8250 - val_loss: 0.5429

In [147]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [ ]:
#load tensor board extension
%load_ext tensorboard

In [8]:
%tensorboard --logdir logs/fit/2025-12-09_00-13-55

Reusing TensorBoard on port 6007 (pid 36504), started 0:00:26 ago. (Use '!kill 36504' to kill it.)